<?xml version="1.0"?>

<launch>

  <!-- context aware planner service node -->
  <!-- rosparam command="load" ns="/accompany_context_aware_planner" file="$(find accompany_context_aware_planner)/ros/launch/accompany_context_aware_planner_params.yaml"/-->
  
  <node name="accompany_context_aware_planner" pkg="accompany_context_aware_planner" ns="/accompany_context_aware_planner" type="accompany_context_aware_planner" output="screen">
   
  	<!--remap from="name inside your program" to="name in outside world outside"/-->

  	<!--param name="data_directory" type="string" value="$(find cob_people_detection)/common/files/"/-->
    

  	<!-- MySQL server setting -->

  	<!-- UH Robot House -->
  	<param name="DBHOST" 	value="tcp://127.0.0.1:3306" />
  	<param name="USER"		value="accompanyUser" />
  	<param name="PASSWORD"	value="accompany" />
  	<param name="DATABASE"	value="AccompanyTroyes" />

	<!-- Heerlen's Setting -->
	<!-- param name="DBHOST" 	value="tcp://192.168.1.142:3306" /-->
	<!-- param name="USER"		value="accompanyUser" /-->
	<!-- param name="PASSWORD"	value="accompany" /-->
	<!-- param name="DATABASE"	value=""Accompany" /-->

    
  </node>

</launch>
