<launch>


  <!-- camera_sofa -->

  <env name="GSCAM_CONFIG" value="rtspsrc location=rtsp://admin:admin@10.0.1.161:8554/CH001.sdp ! decodebin ! videoscale ! videorate ! video/x-raw-yuv, width=512, height=486, framerate=15/1 ! ffmpegcolorspace"/>

  <node pkg="gscam" type="gscam" name="gscam_sofa"
        args="-f camera_sofa gscam:=/camera_sofa -i /home/accompany/git/accompany/UvA/Stuttgart/cameras/camera_intrinsic_sofa.xml --sync false"/>



  <!-- camera_kitchen -->

  <env name="GSCAM_CONFIG" value="rtspsrc location=rtsp://admin:admin@10.0.1.160:8554/CH001.sdp ! decodebin ! videoscale ! videorate ! video/x-raw-yuv, width=512, height=486, framerate=15/1 ! ffmpegcolorspace"/>

  <node pkg="gscam" type="gscam" name="gscam_kitchen"
        args="-f camera_kitchen gscam:=/camera_kitchen -i /home/accompany/git/accompany/UvA/Stuttgart/cameras/camera_intrinsic_kitchen.xml --sync false"/>



  <!-- human detection -->

  <node pkg="accompany_static_camera_localisation" type="camera_localization" name="camera_localization"
        args="-p /home/accompany/git/accompany/UvA/Stuttgart/cameras/params.xml -t 12 -v
              -n 3"/>


  <!-- human tracker -->

  <node pkg="accompany_human_tracker" type="human_tracker" name="human_tracker" output="screen"
        args="-p /home/accompany/git/accompany/UvA/Stuttgart/cameras
              -r 0.8
              -n 4"/>


  <!-- cameras tf -->

  <node pkg="accompany_static_camera_localisation" type="publish_tf_from_extrinsic" name="$(anon publish_tf_from_extrinsic)"
        args="-p room_frame -c camera_sofa -e /home/accompany/git/accompany/UvA/Stuttgart/camera_sofa/camera_extrinsic.xml"/>

  <node pkg="accompany_static_camera_localisation" type="publish_tf_from_extrinsic" name="$(anon publish_tf_from_extrinsic)"
        args="-p room_frame -c camera_kitchen -e /home/accompany/git/accompany/UvA/Stuttgart/camera_kitchen/camera_extrinsic.xml"/>



</launch>
