
<launch>

  <!-- transforms for kinect,base_link,and overhead1 -->
  <node pkg="tf" type="static_transform_publisher" name="head_cam3d_link_frame" args="0 0 0 0 0 0 /base_link /head_cam3d_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_frame"       args="0 0 0 0 0 0 /map /base_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="overhead1_frame"       args="0 0 0 0 0 0 /map /overhead1 100"/>

  <!-- track humans using localisation data -->
  <node pkg="accompany_human_tracker" type="human_tracker" name="human_tracker"/>

  <!-- publish artificial track data -->
  <node pkg="accompany_human_tracker" type="tracker_test_data" name="tracker_test_data"/>

  <!-- visualize tracks -->
  <node pkg="accompany_human_tracker" type="view_tracks" name="view_tracks"/>

</launch>
