<launch>

  <!-- Kinect calibration -->

  <!-- start Kinect node -->
  <node pkg="openni_camera" type="openni_node" name="openni_node" args="" />

  <!-- intrinsic calibration -->
  <node pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator.py" args="--size 6x8 --square 0.5 image:=/camera/rgb/image_color camera_info:=/camera" />

</launch>
