<launch>

  <!-- machines in Amsterdam
  <include file="$(find accompany_uva)/launch/buildBackgroundModel.launch">
     <arg name="machine" value="bterwijnDesktop" />
  </include>
  
  <include file="$(find accompany_uva)/launch/buildBackgroundModel.launch">
     <arg name="machine" value="ThinkpadX200" />
  </include>
  -->
 

  <!-- machines in robot house in Cornwall -->
  <include file="$(find accompany_uva)/launch/buildBackgroundModel.launch">
     <arg name="machine" value="omni_cam1_pc" />
     <arg name="res_path" value="/home/camera1/ros/accompany/accompany_static_camera_localisation/res" />
  </include>

  <include file="$(find accompany_uva)/launch/buildBackgroundModel.launch">
     <arg name="machine" value="omni_cam2_pc" />
     <arg name="res_path" value="/home/camera3/ros/accompany/accompany_static_camera_localisation/res" />
  </include>

</launch>
