<launch>
	
  <!-- machines in Amsterdam
  <include file="$(find accompany_uva)/launch/recordBackground.launch">
     <arg name="machine" value="bterwijnDesktop" />
     <arg name="image_topic" default="camera1/gscam/image_raw" />
  </include>
  
  <include file="$(find accompany_uva)/launch/recordBackground.launch">
     <arg name="machine" value="ThinkpadX200" />
     <arg name="image_topic" default="camera1/gscam/image_raw" />
  </include> -->

  <!-- machines in robot house in Cornwall -->
  <include file="$(find accompany_uva)/launch/recordBackground.launch">
     <arg name="machine" value="omni_cam1_pc" />
     <arg name="image_topic" value="cam1/image_raw" />
     <arg name="res_path" value="/home/camera1/ros/accompany/accompany_static_camera_localisation/res" />
  </include>

  <include file="$(find accompany_uva)/launch/recordBackground.launch">
     <arg name="machine" value="omni_cam2_pc" />
     <arg name="image_topic" value="cam2/image_raw" />
     <arg name="res_path" value="/home/camera3/ros/accompany/accompany_static_camera_localisation/res" />
  </include>


</launch>
