<launch>
	
  <!-- machines in Amsterdam
  <include file="$(find accompany_uva)/launch/recordBackground.launch">
     <arg name="machine" value="bterwijnDesktop" />
     <arg name="image_topic" default="camera1/gscam/image_raw" />
  </include>
  
  <include file="$(find accompany_uva)/launch/recordBackground.launch">
     <arg name="machine" value="ThinkpadX200" />
     <arg name="image_topic" default="camera1/gscam/image_raw" />
  </include> -->

  <!-- machines in robot house in Cornwall -->
  <include file="$(find accompany_uva)/launch/recordBackground.launch">
     <arg name="machine" value="omni_cam1_pc" />
     <arg name="image_topic" default="cam1/image_raw" />
  </include>

  <include file="$(find accompany_uva)/launch/recordBackground.launch">
     <arg name="machine" value="omni_cam2_pc" />
     <arg name="image_topic" default="cam2/image_raw" />
  </include>


</launch>
