<launch>

  <arg name="camera" default="camera" />

  <!-- launch openni driver to record depth and color images -->
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="$(arg camera)" />
    <!--<arg name="machine" value="omni_cam2_pc" />-->
    <!--<arg name="topic_name" value="cam2" />-->
    <!--<arg name="depth_registration" value="false" />-->
  </include>

  <node pkg="openni_tracker" name="openni_tracker" type="openni_tracker">
  </node>

  <!-- record kinect images and skeleton -->
  <!--  <node pkg="rosbag" type="record" name="record_kinect" args="-b 0 camera/depth/image_raw camera/depth/camera_info camera/rgb/image_raw camera/rgb/camera_info /tf"/>-->
  <!--</node>-->

<!-- record kinect images and skeleton -->
  <node pkg="rosbag" type="record" name="record_kinect" args="-b 0 $(arg camera)/depth/image_raw/compressedDepth $(arg camera)/depth/camera_info $(arg camera)/rgb/image_raw/compressed $(arg camera)/rgb/camera_info /tf ">
  </node>

</launch>
