<launch>

  <!-- run nodes on 'machine'  -->
  <arg name="machine" default="localhost" />
  <include file="$(find accompany_uva)/launch/machines.launch"/>

  <!-- arguments -->
  <arg name="image_topic" default="/gscam/image_raw" />
  <arg name="res_path" default="$(find accompany_static_camera_localisation)/res" />

  <!-- detect humans -->
  <node machine="$(arg machine)" pkg="accompany_static_camera_localisation" type="camera_localization" name="$(anon camera_localization)"
        args="-p $(arg res_path) image:=$(arg image_topic) -n 3"/>

</launch>
