<launch>

  <!-- run nodes on 'machine'  -->
  <arg name="machine" default="localhost" />
  <include file="$(find accompany_uva)/launch/machines.launch"/>


  <node machine="$(arg machine)" pkg="rosbag" type="play" name="$(arg machine)_playBags"
        args="-l -d 2 
              $(find accompany_uva)/res/testRobotHouse/camera1/retopic.bag"/>

  <!-- decode and view camera1 -->
  <node machine="$(arg machine)" pkg="image_transport" type="republish" name="$(arg machine)_republishCamera1"
   args="theora in:=camera1/gscam/image_raw _image_transport:=theora raw out:=camera1/gscam/image_raw"/>
  
</launch>
