<launch>

  <node pkg="rosbag" type="play" name="playBags"
   args="-l -d 2 -r 0.2
     $(find accompany_uva)/res/testRobotHouse/camera1/retopic.bag 
     $(find accompany_uva)/res/testRobotHouse/camera3/retopic.bag
     "/>


  <!-- decode camera1 -->
  <node pkg="image_transport" type="republish" name="republishCamera1"
        args="theora in:=/camera1/gscam/image_raw _image_transport:=theora raw out:=/camera1/gscam/image_raw"/>
  <!-- decode camera3 -->
  <node pkg="image_transport" type="republish" name="republishCamera3"
        args="theora in:=/camera3/gscam/image_raw _image_transport:=theora raw out:=/camera3/gscam/image_raw"/>


  <!-- resize camera1 -->
  <node pkg="accompany_static_camera_localisation" type="resize_image" name="resize_imageCamera1"
        args="-i /camera1/gscam/image_raw -o /camera1/small --sw .5 --sh .5"/>
  <!-- resize camera3 -->
  <node pkg="accompany_static_camera_localisation" type="resize_image" name="resize_imageCamera3"
        args="-i /camera3/gscam/image_raw -o /camera3/small --sw .5 --sh .5"/>



  <!-- localise camera1 -->
  <node pkg="accompany_static_camera_localisation" type="camera_localization" name="localiseCamera1"
        args="-p $(find accompany_uva)/res/testRobotHouse/camera1 -n 2 -v
              image:=/camera1/small"/>
  <!-- localise camera3 -->
  <node pkg="accompany_static_camera_localisation" type="camera_localization" name="localiseCamera3"
        args="-p $(find accompany_uva)/res/testRobotHouse/camera3 -n 2 -v
              image:=/camera3/small"/>


  <!-- track humans using localisation data -->
  <node pkg="accompany_human_tracker" type="human_tracker" name="human_tracker"
        args="-t 5"/> 

  <!-- visualize tracks -->
  <node pkg="accompany_human_tracker" type="view_tracks" name="view_tracks"/> 

  
  <!-- Map server -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find accompany_uva)/res/testRobotHouse/map.yaml"/>


</launch>
