<launch>

  <node pkg="rosbag" type="play" name="playBags"
   args="-l -d 2 
     $(find accompany_uva)/res/testRobotHouse/camera1/retopic.bag 
     $(find accompany_uva)/res/testRobotHouse/camera3/retopic.bag
     $(find accompany_uva)/res/testRobotHouse/camera2/video.bag"/>


  <!-- decode and view camera1 -->
  <node pkg="image_transport" type="republish" name="republishCamera1"
   args="theora in:=/camera1/gscam/image_raw _image_transport:=theora raw out:=/camera1/gscam/image_raw"/>

  <node pkg="image_view" type="image_view" name="image_viewCamera1"
   args="image:=/camera1/gscam/image_raw"/>



  <!-- decode and view camera3 -->
  <node pkg="image_transport" type="republish" name="republishCamera3"
   args="theora in:=/camera3/gscam/image_raw _image_transport:=theora raw out:=/camera3/gscam/image_raw"/>

  <node pkg="image_view" type="image_view" name="image_viewCamera3"
   args="image:=/camera3/gscam/image_raw"/>



  <!-- decode and view camera2 (kinect) -->
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="load_driver" value="false" />
  </include>

  <node pkg="image_view" type="image_view" name="image_viewCamera2"
   args="image:=/camera/rgb/image_rect_color"/>

</launch>
