<launch>

  <!-- use old time stamp to play video -->
  <param name="/use_sim_time" value="True" />

  <!-- launch openni driver to record depth and color images -->
  <include file="$(find openni_launch)/launch/openni.launch">
    <!--<arg name="machine" value="omni_cam2_pc" />-->
    <!--<arg name="topic_name" value="cam2" />-->
    <arg name="load_driver" value="false" />
  </include>  

  <!-- brige tf between openni_tracker and openni driver -->
  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_openni" args=" 0 0 0 0 0 0 camera_rgb_frame openni_depth_frame  100">
  </node>

</launch>
